* {
    /* border: 1px solid red; */
}

a{
    color: #BD5D44;
    text-decoration: none;
}
a:hover  {
    color: #DAA588;
    text-decoration: none;
}

h2 {
    text-align:justify;
    align-items: center;
}

.navlocation {

    /* z-index: -1; */
    display: flex;
    flex-direction: row;
    /* padding-top: 20px; */
    background-color: #BD5D44;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.pagetitle {
    z-index: 1;
    position: relative;
    transform: translate(-5%, -135%);
    /* text-align: center; */
    vertical-align: top;
    left: 10%;
}

.btn-primary {
    align-items: right;
    margin-top: 20px;
    background-color: #DAA588;
    border: none;
    box-shadow: none;
    color: .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary:hover {
    background-color: #A0866C;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: white;
    background-color: black;
    border-color: none;
    box-shadow: none;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:disabled {
    background-color: #E8B8C7;
}

*, ::before, ::after {
    --tw-ring-color: none;
}

.carouselholder {
    width: 70%; /* Adjust the width as needed */
    margin: auto; /* Center the carousel horizontally */
    padding-bottom: 5%;
}

.carousel-inner {
    height: auto; /* Adjust the height as needed */
    max-height: 600px;
}

.carousel-item img {
    object-fit: cover; /* Ensure images cover the entire carousel item */
    width: 100%;
    height: 100%;
}


.offcanvasbody {
    align-items: center;
    left: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #black;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #red;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-success {
    color: white ;
    background-color: #DAA588  ;
    border: none;
}

.btn-outline-success:hover {
    background-color: #A0866C ;
    color: white;
}

.btn-link-disabled-color {
    background-color: grey;
}

.footer-container {
    align-items: center;
    bottom: 0;
    position:relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #8FB18F;
    color: #E8B8C7;
}

.footer-info {
    width: 100%;
    align-items: auto;
    display: flex;
    flex-direction: column;
    left: 50%;
    text-align: center;
    text-shadow: 2px 2px black;

}
